header{
    color:brown;
    text-align: center;
    font-size: 20px;
    background-color: black;
    height: 100px;
    padding: 1em;
}

h2{
    color: antiquewhite;
    text-align: center;
    background-color: gray;
    padding: 10px;
    margin: 0;
}

label{
    color: darkcyan;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 
                    Arial, sans-serif;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#botones{
    text-align: right;
}
